<template name="postEdit">
  <form class="main form">
    
    <div class="form-group {{errorClass 'title'}}">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
          <input name="title" id="title" type="text" value="{{title}}" placeholder="Name your post" class="form-control"/>
          <span class="help-block">{{errorMessage 'title'}}</span>
      </div>
    </div>

    
    <div class="form-group {{errorClass 'category'}}">
      <label class="control-label" for="category">Project/Category</label>
      <div class="controls">
        <select class="form-control" name="category" id="category">
            <option value="{{category}}" selected>{{category}}</option>
            {{#each loggedInUserProjects}}
                {{#unless isEqual this 'category'}}
                    <option value="{{this}}">{{this}}</option>
                {{/unless}}
            {{/each}}
            <!-- option value="Dolby">Dolby</option>
            <option value="Flexera">Flexera</option>
            <option value="GoDaddy">GoDaddy</option>
            <option value="JMP">JMP</option>
            <option value="Mad Mimi">Mad Mimi</option>
            <option value="miscellaneous">miscellaneous</option>
            <option value="Mozilla">Mozilla</option>
            <option value="Varian">Varian</option>
            <option value="Zimbra">Zimbra</option -->
        </select>
        <span class="help-block">{{errorMessage 'category'}}</span>
      </div>
    </div>



      <div class="form-group {{errorClass 'assigneeId'}}">
          <label class="control-label" for="assigneeId">Assign to:<sup>*</sup></label>
          <div class="controls">
              <select class="form-control" name="assigneeId" id="assigneeId">
                  <option value="{{projectAssignee.id}}" selected>{{projectAssignee.name}}</option>
                  {{#each projectAssignees}}
                      {{#unless isEqual this 'assigneeId'}}
                          <option value="{{this.id}}">{{this.name}}</option>
                      {{/unless}}
                  {{/each}}
              </select>
              <span class="help-block">{{errorMessage 'assigneeId'}}</span>
          </div>
      </div>


      <div class="form-group {{errorClass 'postStatus'}}">
          <label class="control-label" for="postStatus">Current status:<sup>*</sup></label>
          <div class="controls">
              <select class="form-control" name="postStatus" id="postStatus">
                  <option value="{{status}}" selected>{{status}}</option>
                  {{#each postStatuses}}
                      {{#unless isEqual this 'postStatus'}}
                        <option value="{{this}}">{{this}}</option>
                      {{/unless}}
                  {{/each}}
              </select>
              <span class="help-block">{{errorMessage 'postStatus'}}</span>
          </div>
      </div>



      <div class="form-group {{errorClass 'sourceString'}}">
          <label class="control-label" for="sourceString">Source String (optional)</label>
          <div class="controls">
              <input name="sourceString" id="sourceString" type="text" value="{{sourceString}}" placeholder="Enter source string" class="form-control"/>
              <span class="help-block">{{errorMessage 'sourceString'}}</span>
          </div>
      </div>
      <div class="form-group {{errorClass 'targetString'}}">
          <label class="control-label" for="targetString">Target String (optional)</label>
          <div class="controls">
              <input name="targetString" id="targetString" type="text" value="{{targetString}}" placeholder="Enter target string" class="form-control"/>
              <span class="help-block">{{errorMessage 'targetString'}}</span>
          </div>
      </div>





      <div class="form-group {{errorClass 'description'}}">
      <label class="control-label" for="description">Body</label>
      <div class="controls">
          <!-- input name="description" id="description" type="text" value="{{description}}" placeholder="Insert your message or question" class="form-control"/ -->
          <!-- textarea name="description" id="description" value="{{description}}" class="form-control" placeholder="Insert your message or question" rows="4"></textarea -->
          <div textarea name="description" id="description">{{{description}}}</div>
          <span class="help-block">{{errorMessage 'description'}}</span>
      </div>
    </div>


    
    <div class="form-group {{errorClass 'userUrl'}}">
      <label class="control-label" for="userUrl">URL (optional)</label>
      <div class="controls">
          <input name="userUrl" id="userUrl" type="text" value="{{userUrl}}" placeholder="Your URL" class="form-control"/>
          <span class="help-block">{{errorMessage 'userUrl'}}</span>
      </div>
    </div>
    
    <input type="submit" value="Submit" class="btn btn-primary submit"/>
    <hr/>
    <a class="btn btn-danger delete" href="#">Delete post</a>
  </form>
</template>