<template name="postSubmit">
  
  <form class="main form">
    <div class="form-group {{errorClass 'title'}}">
      <label class="control-label" for="title">Title<sup>*</sup></label>
      <div class="controls">
          <input name="title" id="title" type="text" value="" placeholder="Name your post" class="form-control"/>
          <span class="help-block">{{errorMessage 'title'}}</span>
      </div>
    </div>
<!-- //1: -->    
    <!--div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="category" data-toggle="dropdown" aria-expanded="true">
        Project / Category
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="category">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
      </ul>
    </div-->
      <div class="form-group {{errorClass 'category'}}">
        <label class="control-label" for="category">Project/Category<sup>*</sup></label>
        <div class="controls">
          <select class="form-control" name="category" id="category">
              <option value="" selected disabled>Please select an option...</option>
              {{#each loggedInUserProjects}}
                  <option value="{{this}}">{{this}}</option>
              {{/each}}
              <!-- option value="Dolby">Dolby</option>
              <option value="Flexera">Flexera</option>
              <option value="GoDaddy">GoDaddy</option>
              <option value="JMP">JMP</option>
              <option value="Mad Mimi">Mad Mimi</option>
              <option value="miscellaneous">miscellaneous</option>
              <option value="Mozilla">Mozilla</option>
              <option value="Varian">Varian</option>
              <option value="Zimbra">Zimbra</option -->
          </select>
          <span class="help-block">{{errorMessage 'category'}}</span>
        </div>
      </div>
    
    
<!--
<button class="btn btn-warning rm-mustard">Remove Mustard</button>
<button class="btn btn-danger rm-ketchup">Remove Ketchup</button>
<button class="btn btn-success rm-relish">Remove Relish</button>
 
  $('.rm-mustard').click(function() {
    $('.remove-example').find('[value=Mustard]').remove();
    $('.remove-example').selectpicker('refresh');
  });
-->
    
<!-- //1: -->
    <div class="form-group {{errorClass 'description'}}">
      <label class="control-label" for="description">Body<sup>*</sup></label>
      <div class="controls">
          <!-- input name="description" id="description" type="textarea" value="" placeholder="Insert your message or question" class="form-control"/ -->
          <textarea name="description" id="description" value="" class="form-control" placeholder="Insert your message or question" rows="4"></textarea>
          <span class="help-block">{{errorMessage 'description'}}</span>
      </div>
    </div>

    <!--div class="form-group {{errorClass 'attachment'}}">
      <label class="control-label" for="attachment">Attachment<sup>*</sup></label>
      <div class="controls">
          <!-\- input name="description" id="description" type="textarea" value="" placeholder="Insert your message or question" class="form-control"/ -\->
          <div id="attachment" name="attachment" value="" class="form-control" placeholder="Insert your attachment" rows="4"></div>
          <span class="help-block">{{errorMessage 'attachment'}}</span>
      </div>
    </div-->
    
    
    
<!-- //1:  natestrauser:x-editable-bootstrap - not rich text->
  <p id="textArea" class="editable" data-type="textarea" data-placeholder="Enter text" data-emptytext="Click to enter text" data-rows="4">{{textAreaContent}}</p>
<!- //1: -->    
    
    
    <div class="form-group {{errorClass 'userUrl'}}">
      <label class="control-label" for="userUrl">URL (optional)</label>
      <div class="controls">
          <input name="userUrl" id="userUrl" type="text" value="" placeholder="Your URL" class="form-control"/>
          <span class="help-block">{{errorMessage 'userUrl'}}</span>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>

