<template name="postEdit">
  <form class="main form">
    
    <div class="form-group {{errorClass 'title'}}">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
          <input name="title" id="title" type="text" value="{{title}}" placeholder="Name your post" class="form-control"/>
          <span class="help-block">{{errorMessage 'title'}}</span>
      </div>
    </div>

    
    <div class="form-group {{errorClass 'category'}}">
      <label class="control-label" for="category">Project/Category</label>
      <div class="controls">
        <select class="form-control" name="category" id="category">
          <option value="{{category}}" selected>{{category}}</option>
          <option value="GoDaddy">GoDaddy</option>      
          <option value="JMP">JMP</option>    
          <option value="MadMimi">MadMimi</option>
          <option value="Varian">Varian</option>
          <option value="Zimbra">Zimbra</option>
        </select>
        <span class="help-block">{{errorMessage 'category'}}</span>
      </div>
    </div>



    <div class="form-group {{errorClass 'description'}}">
      <label class="control-label" for="description">Body</label>
      <div class="controls">
          <!-- input name="description" id="description" type="text" value="{{description}}" placeholder="Insert your message or question" class="form-control"/ -->
          <textarea name="description" id="description" value="{{description}}" class="form-control" placeholder="Insert your message or question" rows="4"></textarea>
          <span class="help-block">{{errorMessage 'description'}}</span>
      </div>
    </div>


    
    <div class="form-group {{errorClass 'userUrl'}}">
      <label class="control-label" for="userUrl">URL (optional)</label>
      <div class="controls">
          <input name="userUrl" id="userUrl" type="text" value="{{userUrl}}" placeholder="Your URL" class="form-control"/>
          <span class="help-block">{{errorMessage 'userUrl'}}</span>
      </div>
    </div>
    
    <input type="submit" value="Submit" class="btn btn-primary submit"/>
    <hr/>
    <a class="btn btn-danger delete" href="#">Delete post</a>
  </form>
</template>